.wrapper{
  height: 6.35rem;
  box-shadow: 0px 1px rgb(0 0 0 / 12%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}

.content{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.SDA{
  padding: 2.4rem;
  font-size: 3rem;
  font-family: sans-serif;
  color: #0A2B6C;
}

.action{
  display: flex;
  justify-content: center;
  align-items: center;
}

.action img{
  margin-right: 2rem;
  cursor: pointer;
  height: 4rem;
}