.wrapper{
  height: 100%;
  flex: 1;
  position: fixed;
  top: 6.35rem;
  left: 0;
  width: 24rem;
  background-color: #ffffff;
}

.list{
  list-style: none;
}
.list li{
  padding: 2.4rem;
  cursor: pointer;
}